<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeshare</title>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
    <div class="heading">
        Welcome to Codeshare <%= locals.room%>
    </div>
    <div class="container">
        <div class="room-selection">
            <input type="hidden" name="roomid" id="roomid" value="<%=locals.room %>"/>
            <input type="text" id="username" class="username-input" placeholder="Enter your username" />
            <button class="room-button" onclick="enterRoom()">Share Code Now</button>
        </div>
    </div>

    <script>
        function enterRoom(room) {
            const username = document.getElementById('username').value;
            if (username.trim() === "") {
                alert("Please enter a username");
                return;
            }
            const alphabet = "abcdefghijklmnopqrstuvwxyz";
            let code="";
            if(roomid.value!="") code=roomid.value;
            else{
                for (let i = 0; i < 6; i++) {
                    const randomIndex = Math.floor(Math.random() * alphabet.length);
                    code += alphabet[randomIndex];
                }
            }
            sessionStorage.setItem("username",username);
            console.log("reached");
            window.location.href = `/${code}`;
        }
    </script>
</body>
</html>
